In [1]:
%matplotlib widget

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import scipy.special as sp

In [17]:
def factorial(x):
    return sp.factorial(x, exact=True)

def multiplicity(N,q):
    return factorial(q+N-1)//factorial(q)//factorial(N-1)

def logArray(array):
    import math as math
    return [math.log(x) for x in array]

In [4]:
table1 = pd.DataFrame({'q_A':range(0,6+1,1),'q_B':range(6,0-1,-1)})
table1['multi_A'] = [multiplicity(3,i) for i in table1['q_A']]
table1['multi_B'] = [multiplicity(3,i) for i in table1['q_B']]
table1['multi_total'] = table1['multi_A']*table1['multi_B']
table1['probability'] = table1['multi_total']/table1['multi_total'].sum()

In [5]:
table1

   q_A  q_B  multi_A  multi_B  multi_total  probability
0    0    6        1       28           28     0.060606
1    1    5        3       21           63     0.136364
2    2    4        6       15           90     0.194805
3    3    3       10       10          100     0.216450
4    4    2       15        6           90     0.194805
5    5    1       21        3           63     0.136364
6    6    0       28        1           28     0.060606

In [6]:
table1['multi_total'].sum()

462

In [7]:
multiplicity(6,6)

462

In [8]:
fig1 = plt.figure()
ax1 = fig1.add_subplot()

ax1.bar(table1['q_A'], table1['multi_total'])

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

In [9]:
def multitable(N_a, N_b, q):
    table1 = pd.DataFrame({'q_A':range(0,q+1,1),'q_B':range(q,0-1,-1)})
    table1['multi_A'] = [multiplicity(N_a,i) for i in table1['q_A']]
    table1['multi_B'] = [multiplicity(N_b,i) for i in table1['q_B']]
    table1['multi_total'] = table1['multi_A']*table1['multi_B']
    table1['probability'] = table1['multi_total']/table1['multi_total'].sum()
    return table1

In [13]:
table2 = multitable(300,200,100)

In [14]:
table2

,q_A,q_B,multi_A,multi_B,multi_total,probability
0,0,100,1,2772167642172376496522255684217603720186977337...,2772167642172376496522255684217603720186977337...,2.99313e-35
1,1,99,300,9271463686195239118803530716446835184571830559...,2781439105858571735641059214934050555371549167...,3.00314e-33
2,2,98,45150,3080117130648753935441441412510861353263796058...,1390672884487912401851810797748653900998603920...,1.50152e-31
3,3,97,4545100,1016334945466592207654078311198870076161117891...,4619343960640208243008551332229984383159896927...,4.98754e-30
4,4,96,344291325,3330557084806062302109648519807108019852312008...,1146681911716016558025881184168677964573078805...,1.23808e-28
...,...,...,...,...,...,...
96,96,4,6338114589691610663959878992394831270314993823...,68685050,4353337174986977630346174865865886055431488665...,4.70033e-15
97,97,3,2587518945894719405080527918544694003138904695...,1353400,3501948141373913242835986484958388863848193614...,3.78108e-16
98,98,2,1048209205632860820221397534349228080863413432...,20100,2106900503322050248645009044041948442535460999...,2.27484e-17
99,99,1,4214012766079581883314305239100937133168066123...,200,8428025532159163766628610478201874266336132246...,9.09981e-19
100,100,0,1681391093665753171442407790401273916134058383...,1,1681391093665753171442407790401273916134058383...,1.81541e-20

In [15]:
fig2 = plt.figure()
ax2 = fig2.add_subplot()

ax2.bar(table2['q_A'],table2['probability'])

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

In [18]:
table2['S_a'] = logArray(table2['multi_A'])
table2['S_b'] = logArray(table2['multi_B'])
table2['S_t'] = table2['S_a']+table2['S_b']

In [21]:
table2 = table2.astype(float)

In [22]:
table2

,q_A,q_B,multi_A,multi_B,multi_total,probability,S_a,S_b,S_t
0,0.0,100.0,1.000000e+00,2.772168e+81,2.772168e+81,2.993133e-35,0.000000,187.529022,187.529022
1,1.0,99.0,3.000000e+02,9.271464e+80,2.781439e+83,3.003143e-33,5.703782,186.433749,192.137531
2,2.0,98.0,4.515000e+04,3.080117e+80,1.390673e+85,1.501521e-31,10.717746,185.331775,196.049521
3,3.0,97.0,4.545100e+06,1.016335e+80,4.619344e+86,4.987544e-30,15.329560,184.223010,199.552571
4,4.0,96.0,3.442913e+08,3.330557e+79,1.146682e+88,1.238082e-28,19.656999,183.107362,202.764361
...,...,...,...,...,...,...,...,...,...
96,96.0,4.0,6.338115e+93,6.868505e+07,4.353337e+101,4.700335e-15,215.986995,18.045042,234.032037
97,97.0,3.0,2.587519e+94,1.353400e+06,3.501948e+100,3.781083e-16,217.393698,14.118131,231.511829
98,98.0,2.0,1.048209e+95,2.010000e+04,2.106901e+99,2.274838e-17,218.792667,9.908475,228.701142
99,99.0,1.0,4.214013e+95,2.000000e+02,8.428026e+97,9.099810e-19,220.183999,5.298317,225.482317
100,100.0,0.0,1.681391e+96,1.000000e+00,1.681391e+96,1.815412e-20,221.567790,0.000000,221.567790

In [25]:
fig2 = plt.figure()
ax2 = fig2.add_subplot()

ax2.plot(table2['q_A'],table2['S_a'],label='S_a')
ax2.plot(table2['q_A'],table2['S_b'],label='S_b')
ax2.plot(table2['q_A'],table2['S_t'],label='S_t')

ax2.set_xlabel('q_A')
ax2.set_ylabel(r'Entropy (S/k$_b$)')

ax2.legend()

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …