In [1]:
%matplotlib widget

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import scipy.special as sp

In [3]:
def factorial(x):
    return sp.factorial(x, exact=True)

def multiplicity(N,q):
    return factorial(q+N-1)//factorial(q)//factorial(N-1)

In [8]:
table1 = pd.DataFrame({'q_A':range(0,6+1,1),'q_B':range(6,0-1,-1)})
table1['multi_A'] = [multiplicity(3,i) for i in table1['q_A']]
table1['multi_B'] = [multiplicity(3,i) for i in table1['q_B']]
table1['multi_total'] = table1['multi_A']*table1['multi_B']
table1['probability'] = table1['multi_total']/table1['multi_total'].sum()

In [9]:
table1

   q_A  q_B  multi_A  multi_B  multi_total  probability
0    0    6        1       28           28     0.060606
1    1    5        3       21           63     0.136364
2    2    4        6       15           90     0.194805
3    3    3       10       10          100     0.216450
4    4    2       15        6           90     0.194805
5    5    1       21        3           63     0.136364
6    6    0       28        1           28     0.060606

In [10]:
table1['multi_total'].sum()

462

In [11]:
multiplicity(6,6)

462

In [13]:
fig1 = plt.figure()
ax1 = fig1.add_subplot()

ax1.bar(table1['q_A'], table1['multi_total'])

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

In [14]:
def multitable(N_a, N_b, q):
    table1 = pd.DataFrame({'q_A':range(0,q+1,1),'q_B':range(q,0-1,-1)})
    table1['multi_A'] = [multiplicity(N_a,i) for i in table1['q_A']]
    table1['multi_B'] = [multiplicity(N_b,i) for i in table1['q_B']]
    table1['multi_total'] = table1['multi_A']*table1['multi_B']
    table1['probability'] = table1['multi_total']/table1['multi_total'].sum()
    return table1

In [25]:
table2 = multitable(500,500,500)

In [26]:
table2

,q_A,q_B,multi_A,multi_B,multi_total,probability
0,0,500,1,1351441204727182847578073468129876377480760042...,1351441204727182847578073468129876377480760042...,2.06831e-114
1,1,499,500,6763969993629543781672039380029411298702502713...,3381984996814771890836019690014705649351251356...,5.17595e-112
2,2,498,125250,3381984996814771890836019690014705649351251356...,4235936208510501793272114661743418825812442324...,6.48288e-110
3,3,497,20958500,1689296417666756671651291680669331407599722342...,3540511896966871970280359668930818230617878072...,5.41857e-108
4,4,496,2635531375,8429521280927490620589276759966442867239578357...,2221626781211459063058125988944990412375486840...,3.40008e-106
...,...,...,...,...,...,...
496,496,4,8429521280927490620589276759966442867239578357...,2635531375,2221626781211459063058125988944990412375486840...,3.40008e-106
497,497,3,1689296417666756671651291680669331407599722342...,20958500,3540511896966871970280359668930818230617878072...,5.41857e-108
498,498,2,3381984996814771890836019690014705649351251356...,125250,4235936208510501793272114661743418825812442324...,6.48288e-110
499,499,1,6763969993629543781672039380029411298702502713...,500,3381984996814771890836019690014705649351251356...,5.17595e-112
500,500,0,1351441204727182847578073468129876377480760042...,1,1351441204727182847578073468129876377480760042...,2.06831e-114

In [24]:
fig2 = plt.figure()
ax2 = fig2.add_subplot()

ax2.bar(table2['q_A'],table2['probability'])

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …